/*
 *
 * Department Pages
 *
 *
*/
.top-nav {
  margin: 20px auto;
  .top-bar-section ul li.current-menu-parent>a,
  .top-bar-section ul li.current-menu-item>a{
    background:$bell-yellow;
  }
}
.department {
  h1.alternate, h2.alternate, h3.alternate, h4.alternate, h5.alternate, h6.alternate {
    color: $black;
  }

  h3{
    font-size: .825rem;
  }

  p{
    margin:1rem 0;
    font-size: .85rem;
    line-height: 1.6;
  }
  .news {
    .small-thumb{
      width:100px;
      height:auto;
      margin: 5px 10px 30px 0;
    }
    .story {
      cursor: pointer;
    }
    ul.news-list{
      margin:0;
      padding:0;
      li {
        list-style: none;
        margin-bottom: 20px;
        clear: both;
        border-bottom: 1px solid #f2f2f2;
        padding: 0 0 10px 0;
        &:hover{
          opacity: .6;
        }
      }
      a:link, a:visited {
        font-weight: normal;
        > h3 {
          font-weight: 400;
          color:$ben-franklin-blue;
          margin-bottom: 0;
        }
      }
    }
  }
  .story {
    padding: .8rem;
    margin-bottom: 20px;
    cursor: default;

    p{
      font-size: 80%;
      line-height: 1.4;
      margin: .5rem 0;
    }
  }

  ul, ol, dl {
    font-size: .85rem;
    line-height: 1.6;
  }

  .logo {
    img {
      width:100%;
      height:auto;
    }
    text-align:center;
    margin: 0 0 20px 0;
  }

  .on-site h1.entry-title{
    margin:0;
  }

  #sidebar {
    font-size:85%;

    .call-to-action {
      .h1, .h2, .h3, .h4, .h5, .h6, span.h6 {
        font-size:.7rem;
      }
    }
  }//#sidebar

  .inner {
    background:$geyser;
    padding:20px;
  }

  .widget-title {
    font-size:1rem;
  }
}//department

.department-menu{
  .current-menu-item{
    background: $bell-yellow;
    color:$black;
  }
}
