/*
 *
 * Department Pages
 *
 *
*/
.top-nav {
  margin:20px auto;
}
.department {

  .logo {
    img {
      width:100%;
      height:auto;
    }
    text-align:center;
    margin: 0 0 20px 0;
  }

  h1.entry-title{
    margin:0;
  }

  #sidebar {
    font-size:90%;

    .call-to-action {
      .h1, .h2, .h3, .h4, .h5, .h6, span.h6 {
        font-size:.8rem;
      }
    }
  }//#sidebar

  .inner {
    background:$geyser;
    padding:20px;
  }

  .widget-title {
    font-size:1rem;
  }
}//department
