/*
 *
 * Document Pages
 *
 *
*/
.document {
  .document-row{
    margin: 1rem 0;
    padding:1rem 0;
    border-bottom:1px solid $whitesmoke;
    &:last-of-type{
      border-bottom:none;
    }
  }
  h3{
    margin:0;
    padding:0;
  }
  .doc-type {
    i{
       padding-right:10px;
    }
    span::after{
      content: ', ';
    }
    span:last-child::after{
      content: '';
    }
  }//.doc-type

  .doc-meta{
    margin-bottom:25px;
  }
  h3.alternate, h4.alternate {
    margin-top:10px;
    margin-bottom:0;
  }
  .file-type{
    text-transform:uppercase;
  }
}//.document
