@import 'variables';
@import 'layout';
@import 'modules';
@import 'home';
@import 'swifttype';
@import 'news';
@import 'departments';

.site-header {
    color: $white;
    height: 75px;
    background: $white;
}

#breadcrumbs {
    ul {
        list-style:none;
        margin: 0;
        padding:0;
    }
    li {
        display:inline;
    }
    li::after {
        content:" / ";
    }
    li:last-child::after{
        content:"";
    }
}
@media screen and (min-width: 35.5em){
    .entry-content > div {
        margin:0 20px 0 0;
    }
}
.group::after {
  content: "";
  display: table;
  clear: both;
}
.full {
  width:100% !important;
  max-width:100% !important;
}

ul.no-bullet, ol.no-bullet{
  margin:0;
  padding:0;
}
