.site-branding{
    img {
      width: auto;
      height: 75px;
      margin-top:0;
    }//img

}//.site-branding


.departments .topic {
    clear:both;
    width:100%;
    height: auto;
  //  border-bottom:1px solid $black;
}
