.site-branding{
    img {
      width: auto;
      height: 75px;
      margin-top:0;
    }//img

}//.site-branding

.departments .topic {
    clear:both;
    width:100%;
    height: auto;
  //  border-bottom:1px solid $black;
}

.filter {
  background:$ghost-gray;
  padding:10px;
  ul {
    list-style:none;
    margin:0;
    padding:0;
  }
   li {
    margin:0;
    padding-bottom:10px;
    font-size:90%;
    &:last-child {
      padding:0;
    }
  }
}
img.float-left{
  padding: 1em 1em 1em 0;
  float:left;
}

img.float-right{
  padding: 1em 0 1em 1em;
  float:right;
}

.equal-height {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  flex-align: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  > div {
    display: -webkit-flex;
    display: flex;

  }
}
